.settContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.settNadpis{
  font-size: 40;
  color: var(--md-sys-color-on-surface-variant);
}
.settItem{
  display: flex;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface-variant);
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.settItem input[type=button]{
    margin-bottom: 1em;
    border: none;
    border-radius: 1em;
    padding: 0.8em;
    font-size: 1em;
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary)
}
.dangerousBttn{
    background: var(--md-sys-color-error) !important;
    color: var(--md-sys-color-on-error) !important;
}
.settItemNadpis{
  font-size: 20;
  color: var(--md-sys-color-on-surface-variant);
}
.settItem table{
  width: fit-content;
  border-radius: 10px;
  margin: 10px;
  border-radius: 10px;
}
.settItem td{
  background: none;
}

.sensorListItem{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  justify-content: space-around;
  margin-bottom: 10px;
  background: var(--md-sys-color-surface-container-lowest);
  color: var(--md-sys-color-on-surface-variant);
}