#tempsData{
    padding: 15px;
}

.sensorContainer {
	display: grid;
	grid-template-columns: 0.5fr 0.01fr 1fr;
	grid-template-rows: 0.3fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background: var(--nav_button_background);
	padding: 10px;
	border-radius: 10px;
	color: var(--text_color);
    margin-bottom: 25px;
}

.grid_graph { 
	grid-area: 1 / 3 / 3 / 4; 
	width: 100% !important;
  	height: 100% !important;
}
.grid_name {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
	font-size: 50;
}
.grid_temp {
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
	font-weight: bold;
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-style: normal;
	display: flex;
	flex-direction: row;
	justify-content: center;
	}
.gridTempValue{
	font-size: 75;
}
.celsiusSign{

	font-size: 45;
  align-self: end;
  margin-bottom: 10;
  margin-left: 10;
}
	
.grid_line { 
    grid-area: 1 / 2 / 3 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
} 
.verticalLine {
	width: 1px;
	height: 80%;
	background: var(--text_color);
}
