.data-label-main {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: var(--md-sys-color-on-surface);
  line-height: 24px;
}

.data-list {
  display: flex;
  flex-direction: column;
  gap: 4px; /* Slight gap between items */
  width: 100%;
  max-width: 400px;
}

.data-item {
    background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 3px; 
    cursor: pointer;
}
.data-item:first-of-type {
    border-radius: 16px 16px 3px 3px;
}
.data-item:last-of-type {
    border-radius: 3px 3px 16px 16px;
}





/* Text Content */
.data-content {
  flex-grow: 1;
}

.data-label {
  font-size: 16px;
  font-weight: 500;
  color: var(--md-sys-color-on-surface);
  line-height: 24px;
}

.data-supporting {
  font-size: 14px;
  color: var(--md-sys-color-on-surface-variant);
  line-height: 20px;
}

/* Trailing element */
.data-trailing {
  font-size: 14px;
  color: var(--md-sys-color-on-surface-variant);
  margin-left: 16px;
}