#tempsData{
    padding: 15px;
}

#bodyData{
	display: flex;
  flex-direction: column;
  align-items: center;
}

.sensorContainer {
	display: grid;
	grid-template-columns: 0.5fr 0.01fr 1fr;
	grid-template-rows: 0.3fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background: var(--md-sys-color-surface-container-low);
	padding: 10px;
	border-radius: 10px;
	color: var(--md-sys-color-on-surface-variant);
    margin-bottom: 25px;
}

.grid_graph { 
	grid-area: 1 / 3 / 3 / 4; 
	width: 100% !important;
  	height: 100% !important;
}
.grid_name {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
	font-size: 50;
}
.grid_temp {
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
	font-weight: bold;
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-style: normal;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: var(--md-sys-color-primary);
	}
.gridTempValue{
	font-size: 75;
}
.celsiusSign{

	font-size: 45;
  align-self: end;
  margin-bottom: 10;
  margin-left: 10;
}
	
.grid_line { 
    grid-area: 1 / 2 / 3 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
} 
.verticalLine {
	width: 1px;
	height: 80%;
	background: var(--md-sys-color-outline-variant);
}




.timeRangeSelector{
	display: flex;
  flex-direction: row;
  color: var(--md-sys-color-on-surface-container);
  background: var(--md-sys-color-surface-container);
  margin-top: 0.5em;
  border-radius: 1em;
}

.selectorElement{
	padding: 1em;
	cursor: pointer;
}

.selectorElement:nth-child(1){
	border-radius: 1em 0em 0em 1em;
}

.selectorElement:nth-child(5){
	border-radius: 0em 1em 1em 0em;
	margin-left: 1em;
	padding: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 1em;
	padding-left: 2em;
}

.selectorActive{
	background: var(--md-sys-color-secondary-container);
	color: var(--md-sys-color-on-secondary-container);
	font-weight: bold;
}

#tempRange_from, #tempRange_to{
	border: 1px solid var(--md-sys-color-outline);
	padding: 0.8em;
	background: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface-variant);
}
#tempRange_from{
	border-radius: 1em 0em 0em 1em;
}
#tempRange_to{
	border-radius: 0em 1em 1em 0em;
}


